.flex-direction-nav li {
	list-style: none;
}

.flexslider.ctflexslider {
	margin: 0;
}

body .ctOriginalImgFlex .slides li img {
	height: 418px;
	width: 557px;
}

body .ctThumbImgFlex .slides  li img {
	height: 83px;
	width: 110px;
}

.ctViewListingKD-package-detail {
	background: #fff none repeat scroll 0 0;
	border-radius: 4px;
	box-shadow: 1px 1px 6px #c2c5c5;
	padding: 10px;
}

.ctVendorImage {
	height: 64px;
	width: 64px;
}

.ctViewLisitingLoadMore {
	background-color: #dedede;
	cursor: pointer;
	height: 30px;
	padding: 5px;
}
/* @media screen and (min-width: 767px) {
   
}
@media screen and (min-width: 480px) {
    
} */