.flex-direction-nav li {
	list-style: none;
}

.flexslider.ctflexslider {
	margin: 0;
}

body .ctOriginalImgFlex .slides li img {
	height: 418px;
	width: 557px;
}

body .ctThumbImgFlex .slides  li img {
	height: 83px;
	width: 110px;
}

.ctViewListingKD-package-detail {
	background: #fff none repeat scroll 0 0;
	border-radius: 4px;
	box-shadow: 1px 1px 6px #c2c5c5;
	padding: 10px;
}

.ctVendorImage {
	height: 64px;
	width: 64px;
}

.ctViewLisitingLoadMore {
	background-color: #dedede;
	cursor: pointer;
	height: 30px;
	padding: 5px;
}

.ctViewListingFont_B {
	font-weight: bold;
}

.ctTravelLoader {
	display: none;
}

.ctViewListingMenu ul {
	font-weight: bold;
}

.ctViewListingMenu li.ctSavedListTrip a:hover,.ctSavedListTrip a {
	background-color: #FAD160 !important;
	color: #000000;
	cursor: pointer;
	font-weight: bold;
}

.ctViewListingWigetBlogPost,.ctViewListingWigetBlogPost a,.ctViewListingWigetBlogPost h2
	{
	font-family: Junction;
}

.ctNoborder {
	border: 0px !important;
	padding: 10px !important;
	margin-bottom: 0px !important;
}

.ctKdpkgInfoListIconColor i {
	background-color: #FFF056;
	border-color: #FFF056 !important;
	color: #ffffff !important;
}

.ctKdpkgInfoListIconColor li {
	color: #000000 !important;
}

.ctTourVendorEmail a {
	text-decoration-color: -moz-use-text-color !important;
	text-decoration: underline !important;
	text-decoration-style: solid !important;
}

.ctThumbImgFlex:hover,.ctThumbImgFlex {
	cursor: pointer;
	border:
}



@media (max-width:480px){
	.ctSavedListTrip{margin:25px 0 0;}
}
@media (max-width:360px){
.ctViewListingMenu .nav > li > a{padding-right:10px;padding-left:10px;}
}