.tsDefaultSearchFontStyle select {
	color: #000000 !important;
	font-family: verdana;
}

.ctTravelSearchTxt .input-group-btn>.btn {
	/* border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
	
}
/* stop the glowing blue shadow */
.ctTravelSearchTxt .form-control:focus {
	/* box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc;  */
	
}

.tsDefaultSearchFontStyle input,.tsDefaultSearchFontStyle {
	font-size: 12px;
	font-family: verdana;
}

.tsHomeSearchBtn {
	position: relative;
	top: 25px;
}

.ctCityNames {
	height: 37px !important;
}

.ctCustomerListMenu,.ctVendorListMenu {
	/*width: 25% !important;*/
	border: 1px solid #cccccc !important;
	font-size: 12px !important;
	font-weight: bold !important;
	list-style: none;
}

.ctVendorListMenu li,.ctCustomerListMenu li {
	list-style: none;
	padding: 5px 10px;
	/*border: 1px solid #0F7DC1;*/
	border-radius: 3px;
	margin-bottom: 5px;
	border-bottom: 3px solid #eeeeee !important;
}

.ctVendorListMenu li:hover,.ctCustomerListMenu li:hover {
	background-color: #0F7DC1 !important;
	cursor: pointer !important;
}

.ctVendorListMenu li.active,.ctVendorListMenu .active a,.ctCustomerListMenu li.active,.ctCustomerListMenu .active a
	{
	background-color: #0F7DC1 !important;
	color: #fff;
}

.ctVendorListMenu li:hover a,.ctCustomerListMenu li:hover a {
	color: #fff;
}

.ctPagesection {
	font-family: verdana;
}

.ctConsumerContainer,.ctVendorContainer {
	/*margin-left: 0px !important;*/
	
}

.ctAddIcon,.ctMinusIcon,.ctMinusIconPhotoGallery,.ctAddIconPhotoGallery
	{
	font-size: 10px !important;
	cursor: pointer;
}

.ctVendorListingForm label,.ctEditVendorListingForm label,.ctEditVendorListingImgForm label
	{
	font-weight: bold;
}

/************************ COMMON CSS CLASS ***********************************************/
.ctFont_FamilyStyle {
	font-family: verdana !important;
}

.ctFontWeight_B,.bmSelect2Class {
	font-weight: bold;
}

.ctFont_S {
	font-size: 14px;
}

.ctDefaultDisplayNone {
	display: none;
}

.ctRequired {
	color: red;
}

.ctDangerDefaultTxt {
	font-family: verdana;
	font-size: 12px;
	color: red;
}

.ctDefaultHeaders {
	text-transform: uppercase;
}

#pagination-demo li a:hover {
	background-color: #337AB7 !important;
	color: #ffffff !important;
}

#pagination-demo {
	border: 0px solid #dadada !important;
}

.ctTravelNavBar-Nav li {
	padding: 30px 16px 20px !important;
}

.ctTravelLogo_Padding {
	padding: 5px 0 !important;
}

.ctTravelFooterColor::before {
	/* background-color: #aad5f4 !important; */
	
}

.ctHomeRowArticle {
	font-family: verdana;
	font-weight: bold;
}

.ctHomeRowArticle h3 {
	font-size: 16px;
	font-family: verdana;
	font-weight: bold;
}

.ctHomeRowArticle h3,.ctHomeRowArticle p,.ctHomeRowArticle a {
	line-height: 3;
}

.ctDefaultDisplayNone {
	display: none;
}

.ctHomeRowArticleR {
	margin-right: 2px;
}

.ctHomeRowArticle {
	border-bottom-left-radius: 11px;
	border-bottom-right-radius: 11px;
	border-right: 10;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
	box-shadow: 0px 0.5px 1px 1px;
	font-family: verdana;
	text-align: center;
}

.ctHomeRowArticle .custom-btn {
	background-color: #fad160;
}